bin/
out/
CURRENT/java/.classpath
CURRENT/cjava/
*.classpath
CURRENT/java/target/
CURRENT/c-sharp/packages/
.vs/
bin/
obj/
Debug/
ipch/
*.pfx
*.user
*.exe
*.dll
*.jar
*.pdb
*.nupkg
*.csproj.user
DTAR_*_DTAR/
/CURRENT/c-sharp/UpgradeLog.htm
