CURRENT/c-sharp/* linguist-language=csharp
CURRENT/java/* linguist-language=Java
CURRENT/doc/* linguist-documentation
STABLE/* linguist-vendored

CURRENT/c-sharp/.vs/* linguist-vendored
CURRENT/c-sharp/Properties/* linguist-vendored
*.sln linguist-vendored
*.csproj linguist-vendored

CURRENT/c-sharp/bin/* linguist-vendored
CURRENT/c-sharp/obj/* linguist-vendored
/CURRENT/c-sharp/mXparserExe/* linguist-vendored

CURRENT/java/bin/* linguist-vendored
CURRENT/java/jar/* linguist-vendored
*.classpath linguist-vendored
*.project linguist-vendored

CURRENT/java/javadoc.xml linguist-documentation
.md linguist-documentation
*README* linguist-documentation
*.user linguist-vendored
